[submodule "cmake/external/googletest"]
	path = cmake/external/googletest
	url = https://github.com/google/googletest.git
[submodule "cmake/external/pector"]
	path = cmake/external/pector
	url = https://github.com/aguinet/pector.git
